@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container-data {
    display: flex; 
    flex-direction: column;
    width: 40rem;
    height: 20rem;
    background-color: #19453b;
    border-radius: 20px;
    align-items: left;
    padding: 1rem;
  }
  
.container-data h1{
  font-family: 'Poppins';    
  font-size: 2rem;
  color: white;
  margin: 0;
}
  
.data-list-container{
  margin: 0;
}

.data-list {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  list-style: none;
  padding: 0;
}

.data-list li {
  font-size: 1.5rem;

}

.data-row {
  display: flex;
  justify-content: space-between;
}

